footer
  .page-control
    .control.previous: i.fa.fa-caret-left
    .control.next: i.fa.fa-caret-right
  .email
    span.text vineeth1991@gmail.com
  .email-button
    a.link(href="mailto:vineeth1991@gmail.com", title="Mail To: vineeth1991@gmail.com")
      i.fa.fa-external-link
      span.button-text email
