
//- @params
- var nameText = "Vineeth N V"
- var quoteText = "Hi, lets make everything simple"

header
  .name-wrap.grid-wrap.center
    .name-section.full-column
      span.name #{nameText}
      span.cursor &#9130;
  .quote-wrap.grid-wrap.center
    .quote-section.full-column
      span.quote &#8220; #{quoteText} &#8221;
