section.career.grid-wrap.center(data-section="1")
  .objectives.medium-column
    
    p.description Hi, my name is Vineeth N V. I am a rookie Web Developer/Designer. I like developing and designing websites and I want to become a Full Stack Developer and a Full Process Designer. I am a Post Graduate in Computer Applications and a Graduate in Computer Maintenance and Electronics.
    
    h2.section-heading Career Objectives 
    ul.objective-list
      li.objective Learn new technologies.
      li.objective Work with creative designers and developers.
      li.objective Contribute to Open Source Projects.
      li.objective Work with organizations and contribute to their projects.
      li.objective Become a Full Stack Developer.
      li.objective 
        span.text Become a 
        a(href="http://www.fullprocessdesigner.com" target="new_tab") Full Process Designer &rarr;
    
    
