section.hobbies.grid-wrap.center(data-section="5")
  .hobbies-details.medium-column
    .section-heading Hobbies
    ul.hobby-list.list
      li.hobby Listening to music
      li.hobby Listening to podcasts
      li.hobby Coding
      Li.hobby Watching movies
      
