section.skills.grid-wrap.center(data-section="4")
  .skills-details.medium-column
    h2.section-heading Skills and Competencies
    ul.skill-list.list
      li.skill Good communication skill
      li.skill Good presentation skill
      li.skill Able to work under pressure
      li.skill Good planning and organizational skill
