
//- @params


// body
body
  include ../sections/header.jade
  include ../sections/section-career.jade
  include ../sections/section-tech-profile.jade
  include ../sections/section-education.jade
  include ../sections/section-skills.jade
  include ../sections/section-hobbies.jade
  include ../sections/section-personal-details.jade
  include ../sections/footer.jade
