
//- @params
- var siteTitle = "Vineeth N V"


// head
head
  
  // meta tags
  meta(charset="utf-8")
  meta(name="author", content="Vineeth N V")
  meta(name="description", content="A simple online resume.")
  meta(http-equiv="Cache-control", content="no-store")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  
  // title
  title= siteTitle
  
  // favicon
  link(rel="icon", href="assets/images/favicon.ico")
  
  // stylesheets
  link(rel="stylesheet", href="assets/styles/main.css")
  
  // javascripts
  script(type="application/javascript", src="assets/scripts/jquery-2.1.4.js", async)
  script(type="application/javascript", src="assets/scripts/script.js", async)
