header
  padding: 40px 20px 10px 20px
  box-shadow: 0 2px 7px #cccccc
  background-color: fade-out(#2f77f1, 0.25)
  z-index: 99
  .name-wrap
    .name-section
      .name
        color: fade-out(#000000, 0.25)
        font:
          family: $sans-serif
          weight: 600
          size: 50px
      .cursor
        color: fade-out(#000000, 0.25)
        font-size: 50px
        animation-name: flash
        animation-duration: 1500ms
        animation-fill-mode: both
        animation-iteration-count: infinite
  .quote-wrap
    .quote-section
      .quote
        color: fade-out(#000000, 0.5)
        font:
          family: $sans-serif
          weight: 300
          size: 16px
